# Explorando as taxas de desemprego nos Estados Unidos e sua relação com a Educação

#### Projeto desenvolvido durante a Disciplina "Análise de Dados", do curso de Pós-graduação em Visão Computacional, no CIn-UFPE.

#### Autor: Michel de Araújo

## Introdução

Neste projeto iremos realizar uma análise exploratória no data set "USA Unemployment & Education Level", fornecido pelo [Kaggle](https://www.kaggle.com/valbauman/student-engagement-online-learning-supplement) e originalmente retirado do [Departamento de agricultura dos Estados Unidos](https://www.ers.usda.gov/data-products/county-level-data-sets/). Este dataset contém dados sobre a taxa de desemprego e nível educacional de adultos em diversos estados do Estados Unidos. As localidades estão bem distribuidas, com informações como Município, Cidade, Subúrbio, Centro ou Rural. Os dados datam deste o ano 2000 até o ano 2020. Este dataset consiste de três arquivos do tipo CSV que mostram diferentes informações sobre o contexto.

## Bibliotecas
Começamos importando todas as bibliotecas que serão utilizadas neste projeto

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Configurando a quantidade de colunas para mostrar no Pandas
pd.set_option('display.max_columns', 500)

## Os dados

Começamos a análise importando e conhecendo o formato dos dados e os tipos de informações que eles possuem

In [2]:
educacao = pd.read_csv('education.csv')
educacao.head()

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970","Four years of college or higher, 1970","Percent of adults with less than a high school diploma, 1970","Percent of adults with a high school diploma only, 1970","Percent of adults completing some college (1-3 years), 1970","Percent of adults completing four years of college or higher, 1970","Less than a high school diploma, 1980","High school diploma only, 1980","Some college (1-3 years), 1980","Four years of college or higher, 1980","Percent of adults with less than a high school diploma, 1980","Percent of adults with a high school diploma only, 1980","Percent of adults completing some college (1-3 years), 1980","Percent of adults completing four years of college or higher, 1980","Less than a high school diploma, 1990","High school diploma only, 1990","Some college or associate's degree, 1990","Bachelor's degree or higher, 1990","Percent of adults with less than a high school diploma, 1990","Percent of adults with a high school diploma only, 1990","Percent of adults completing some college or associate's degree, 1990","Percent of adults with a bachelor's degree or higher, 1990","Less than a high school diploma, 2000","High school diploma only, 2000","Some college or associate's degree, 2000","Bachelor's degree or higher, 2000","Percent of adults with less than a high school diploma, 2000","Percent of adults with a high school diploma only, 2000","Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,1007,AL,Bibb County,1.0,1.0,1.0,1.0,City,"5,272","1,402",238,302,73.1,19.4,3.3,4.2,"5,254","2,611",536,433,59.5,29.6,6.1,4.9,"4,850","3,407","1,332",476,48.2,33.8,13.2,4.7,"4,984","4,838","2,756",962,36.8,35.7,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
1,1009,AL,Blount County,1.0,1.0,1.0,1.0,City,"10,677","3,440",626,404,70.5,22.7,4.1,2.7,"11,666","7,011","1,819","1,144",53.9,32.4,8.4,5.3,"9,960","8,763","4,745","1,773",39.5,34.7,18.8,7.0,"9,960","12,136","8,371","3,235",29.6,36.0,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
2,1021,AL,Chilton County,1.0,1.0,1.0,1.0,City,"10,285","2,805",538,415,73.2,20.0,3.8,3.0,"9,678","5,578","1,518","1,158",54.0,31.1,8.5,6.5,"9,023","6,770","3,438","1,550",43.4,32.6,16.5,7.5,"8,757","9,264","5,307","2,574",33.8,35.8,20.5,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7
3,1073,AL,Jefferson County,1.0,1.0,1.0,1.0,City,"186,882","101,656","32,182","33,827",52.7,28.7,9.1,9.5,"141,531","132,921","63,342","63,229",35.3,33.1,15.8,15.8,"111,325","120,393","109,272","84,718",26.2,28.3,25.7,19.9,"82,950","121,233","123,142","106,833",19.1,27.9,28.4,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4
4,1115,AL,St. Clair County,1.0,1.0,1.0,1.0,City,"10,304","3,540",666,471,68.8,23.6,4.4,3.1,"11,841","7,947","2,335","1,519",50.1,33.6,9.9,6.4,"12,450","10,492","6,271","2,708",39.0,32.9,19.6,8.5,"12,353","14,921","11,036","4,791",28.7,34.6,25.6,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1

Podemos perceber que as colunas possuem nomes longos e explicativos. Isso pode ser bom para conhecermos o dataset mas pode se tornar ruim na hora de realizar as manipulações.

In [14]:
educacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3283 entries, 0 to 3282
Data columns (total 48 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   FIPS Code                                                                 3283 non-null   int64
 1   State                                                                     3283 non-null   object
 2   Area name                                                                 3283 non-null   object
 3   2003 Rural-urban Continuum Code                                           3221 non-null   float64
 4   2003 Urban Influence Code                                                 3221 non-null   float64
 5   2013 Rural-urban Continuum Code                                           3221 non-null   float64
 6   2013 Urban Influence Code                                                 3221 non-null   float64
 7   City/Suburb/Town/Rural 2013                                               3221 non-null   object
 8   Less than a high school diploma, 1970                                     3186 non-null   object
 9   High school diploma only, 1970                                            3186 non-null   object
 10  Some college (1-3 years), 1970                                            3186 non-null   object
 11  Four years of college or higher, 1970                                     3186 non-null   object
 12  Percent of adults with less than a high school diploma, 1970              3186 non-null   float64
 13  Percent of adults with a high school diploma only, 1970                   3186 non-null   float64
 14  Percent of adults completing some college (1-3 years), 1970               3186 non-null   float64
 15  Percent of adults completing four years of college or higher, 1970        3186 non-null   float64
 16  Less than a high school diploma, 1980                                     3267 non-null   object
 17  High school diploma only, 1980                                            3267 non-null   object
 18  Some college (1-3 years), 1980                                            3267 non-null   object
 19  Four years of college or higher, 1980                                     3267 non-null   object
 20  Percent of adults with less than a high school diploma, 1980              3267 non-null   float64
 21  Percent of adults with a high school diploma only, 1980                   3267 non-null   float64
 22  Percent of adults completing some college (1-3 years), 1980               3267 non-null   float64
 23  Percent of adults completing four years of college or higher, 1980        3267 non-null   float64
 24  Less than a high school diploma, 1990                                     3271 non-null   object
 25  High school diploma only, 1990                                            3271 non-null   object
 26  Some college or associate's degree, 1990                                  3271 non-null   object
 27  Bachelor's degree or higher, 1990                                         3271 non-null   object
 28  Percent of adults with less than a high school diploma, 1990              3271 non-null   float64
 29  Percent of adults with a high school diploma only, 1990                   3271 non-null   float64
 30  Percent of adults completing some college or associate's degree, 1990     3270 non-null   float64
 31  Percent of adults with a bachelor's degree or higher, 1990                3271 non-null   float64
 32  Less than a high school diploma, 2000                                     3272 non-null   object
 33  High school diploma only, 2000                                            3272 non-null   object
 34  Some college or associate's degree, 2000                                  3272 non-null   object
 35  Bachelor's degree or higher, 2000                                         3272 non-null   object
 36  Percent of adults with less than a high school diploma, 2000              3272 non-null   float64
 37  Percent of adults with a high school diploma only, 2000                   3272 non-null   float64
 38  Percent of adults completing some college or associate's degree, 2000     3272 non-null   float64
 39  Percent of adults with a bachelor's degree or higher, 2000                3272 non-null   float64
 40  Less than a high school diploma, 2015-19                                  3273 non-null   object
 41  High school diploma only, 2015-19                                         3273 non-null   object
 42  Some college or associate's degree, 2015-19                               3273 non-null   object
 43  Bachelor's degree or higher, 2015-19                                      3273 non-null   object
 44  Percent of adults with less than a high school diploma, 2015-19           3273 non-null   float64
 45  Percent of adults with a high school diploma only, 2015-19                3273 non-null   float64
 46  Percent of adults completing some college or associate's degree, 2015-19  3273 non-null   float64
 47  Percent of adults with a bachelor's degree or higher, 2015-19             3273 non-null   float64
dtypes: float64(24), int64(1), object(23)
memory usage: 1.2+ MB

Como o nome sugere, este arquivo nos fornece informações relacionadas ao nível educacional dos cidadões Americanos ao longo do tempo. As linhas representam as diferentes localidades, enquanto que as colunas representam os diferentes índices e diferentes anos. Os anos estão descritos em intervalos [1970, 1980, 1990, 2000, 2015-2019].

Perceba também que existe uma pequena quantidade de dados nulos na maioria das colunas, e uma quantidade um pouco maior nas colunas refentes aos anos 70.

Agora vamos ver o que o arquivo "unemployment.csv" tem a mostrar.

In [42]:
desemprego = pd.read_csv('unemployment.csv')
desemprego.head()

,FIPS_Code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,City/Suburb/Town/Rural,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,Employed_2001,Unemployed_2001,Unemployment_rate_2001,Civilian_labor_force_2002,Employed_2002,Unemployed_2002,Unemployment_rate_2002,Civilian_labor_force_2003,Employed_2003,Unemployed_2003,Unemployment_rate_2003,Civilian_labor_force_2004,Employed_2004,Unemployed_2004,Unemployment_rate_2004,Civilian_labor_force_2005,Employed_2005,Unemployed_2005,Unemployment_rate_2005,Civilian_labor_force_2006,Employed_2006,Unemployed_2006,Unemployment_rate_2006,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,Employed_2008,Unemployed_2008,Unemployment_rate_2008,Civilian_labor_force_2009,Employed_2009,Unemployed_2009,Unemployment_rate_2009,Civilian_labor_force_2010,Employed_2010,Unemployed_2010,Unemployment_rate_2010,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Civilian_labor_force_2012,Employed_2012,Unemployed_2012,Unemployment_rate_2012,Civilian_labor_force_2013,Employed_2013,Unemployed_2013,Unemployment_rate_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,1007,AL,"Bibb County, AL",1.0,1.0,City,1.0,"8,623","8,160",463,5.4,"9,134","8,513",621,6.8,"8,961","8,333",628,7.0,"8,871","8,346",525,5.9,"8,851","8,375",476,5.4,"8,837","8,444",393,4.4,"8,858","8,489",369,4.2,"8,810","8,443",367,4.2,"8,751","8,225",526,6.0,"8,696","7,637","1,059",12.2,"8,936","7,931","1,005",11.2,"8,932","8,000",932,10.4,"8,808","8,037",771,8.8,"8,699","8,000",699,8.0,"8,573","7,959",614,7.2,"8,552","7,983",569,6.7,"8,539","7,986",553,6.5,"8,527","8,142",385,4.5,"8,569","8,229",340,4.0,"8,639","8,371",268,3.1,"8,640","8,067",573,6.6,"47,918",92.6
1,1009,AL,"Blount County, AL",1.0,1.0,City,1.0,"25,266","24,375",891,3.5,"25,450","24,521",929,3.7,"25,836","24,436","1,400",5.4,"26,008","24,812","1,196",4.6,"26,237","25,149","1,088",4.1,"26,378","25,434",944,3.6,"26,799","25,939",860,3.2,"26,683","25,816",867,3.2,"26,693","25,405","1,288",4.8,"26,426","24,005","2,421",9.2,"24,928","22,509","2,419",9.7,"25,124","22,951","2,173",8.6,"24,978","23,216","1,762",7.1,"24,860","23,277","1,583",6.4,"24,571","23,074","1,497",6.1,"24,416","23,089","1,327",5.4,"24,380","23,061","1,319",5.4,"24,656","23,631","1,025",4.2,"24,960","24,086",874,3.5,"25,196","24,516",680,2.7,"24,661","23,653","1,008",4.1,"52,902",102.2
2,1021,AL,"Chilton County, AL",1.0,1.0,City,1.0,"19,601","18,752",849,4.3,"19,580","18,631",949,4.8,"19,452","18,456",996,5.1,"19,557","18,581",976,5.0,"19,650","18,738",912,4.6,"19,623","18,859",764,3.9,"19,792","19,087",705,3.6,"19,777","19,093",684,3.5,"19,609","18,583","1,026",5.2,"19,393","17,501","1,892",9.8,"19,474","17,502","1,972",10.1,"19,536","17,761","1,775",9.1,"19,396","17,960","1,436",7.4,"19,339","18,052","1,287",6.7,"19,130","17,938","1,192",6.2,"19,089","18,005","1,084",5.7,"19,029","17,982","1,047",5.5,"19,203","18,396",807,4.2,"19,538","18,834",704,3.6,"19,841","19,296",545,2.7,"19,592","18,618",974,5.0,"49,692",96.0
3,1073,AL,"Jefferson County, AL",1.0,1.0,City,1.0,"331,141","317,868","13,273",4.0,"327,780","313,445","14,335",4.4,"323,104","306,259","16,845",5.2,"322,328","304,626","17,702",5.5,"320,629","303,868","16,761",5.2,"316,522","302,586","13,936",4.4,"317,080","304,463","12,617",4.0,"315,430","303,023","12,407",3.9,"311,643","294,233","17,410",5.6,"306,180","276,008","30,172",9.9,"318,651","286,248","32,403",10.2,"319,586","290,057","29,529",9.2,"316,771","292,662","24,109",7.6,"315,102","293,809","21,293",6.8,"312,706","293,144","19,562",6.3,"310,158","292,165","17,993",5.8,"308,632","290,887","17,745",5.7,"309,410","295,805","13,605",4.4,"314,427","302,800","11,627",3.7,"316,802","307,648","9,154",2.9,"315,957","296,282","19,675",6.2,"54,127",104.6
4,1115,AL,"St. Clair County, AL",1.0,1.0,City,1.0,"31,555","30,359","1,196",3.8,"31,855","30,507","1,348",4.2,"32,033","30,392","1,641",5.1,"32,422","30,742","1,680",5.2,"33,124","31,489","1,635",4.9,"33,663","32,335","1,328",3.9,"35,091","33,868","1,223",3.5,"36,117","34,862","1,255",3.5,"36,480","34,586","1,894",5.2,"36,664","33,003","3,661",10.0,"38,296","34,472","3,824",10.0,"38,508","35,152","3,356",8.7,"38,544","35,827","2,717",7.0,"38,792","36,379","2,413",6.2,"38,577","36,367","2,210",5.7,"38,470","36,452","2,018",5.2,"38,757","36,745","2,012",5.2,"39,076","37,473","1,603",4.1,"39,944","38,558","1,386",3.5,"40,698","39,591","1,107",2.7,"40,132","38,146","1,986",4.9,"65,403",126.3

Já este arquivo está com as colunas com a nomenclatura mais correta.

In [5]:
desemprego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 93 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   FIPS_Code                                  3275 non-null   int64
 1   State                                      3275 non-null   object
 2   Area_name                                  3275 non-null   object
 3   Rural_urban_continuum_code_2013            3219 non-null   float64
 4   Urban_influence_code_2013                  3219 non-null   float64
 5   City/Suburb/Town/Rural                     3219 non-null   object
 6   Metro_2013                                 3222 non-null   float64
 7   Civilian_labor_force_2000                  3270 non-null   object
 8   Employed_2000                              3270 non-null   object
 9   Unemployed_2000                            3270 non-null   object
 10  Unemployment_rate_2000                     3270 non-null   float64
 11  Civilian_labor_force_2001                  3270 non-null   object
 12  Employed_2001                              3270 non-null   object
 13  Unemployed_2001                            3270 non-null   object
 14  Unemployment_rate_2001                     3270 non-null   float64
 15  Civilian_labor_force_2002                  3270 non-null   object
 16  Employed_2002                              3270 non-null   object
 17  Unemployed_2002                            3270 non-null   object
 18  Unemployment_rate_2002                     3270 non-null   float64
 19  Civilian_labor_force_2003                  3270 non-null   object
 20  Employed_2003                              3270 non-null   object
 21  Unemployed_2003                            3270 non-null   object
 22  Unemployment_rate_2003                     3270 non-null   float64
 23  Civilian_labor_force_2004                  3270 non-null   object
 24  Employed_2004                              3270 non-null   object
 25  Unemployed_2004                            3270 non-null   object
 26  Unemployment_rate_2004                     3270 non-null   float64
 27  Civilian_labor_force_2005                  3263 non-null   object
 28  Employed_2005                              3263 non-null   object
 29  Unemployed_2005                            3263 non-null   object
 30  Unemployment_rate_2005                     3263 non-null   float64
 31  Civilian_labor_force_2006                  3263 non-null   object
 32  Employed_2006                              3263 non-null   object
 33  Unemployed_2006                            3263 non-null   object
 34  Unemployment_rate_2006                     3263 non-null   float64
 35  Civilian_labor_force_2007                  3270 non-null   object
 36  Employed_2007                              3270 non-null   object
 37  Unemployed_2007                            3270 non-null   object
 38  Unemployment_rate_2007                     3270 non-null   float64
 39  Civilian_labor_force_2008                  3270 non-null   object
 40  Employed_2008                              3270 non-null   object
 41  Unemployed_2008                            3270 non-null   object
 42  Unemployment_rate_2008                     3270 non-null   float64
 43  Civilian_labor_force_2009                  3270 non-null   object
 44  Employed_2009                              3270 non-null   object
 45  Unemployed_2009                            3270 non-null   object
 46  Unemployment_rate_2009                     3270 non-null   float64
 47  Civilian_labor_force_2010                  3272 non-null   object
 48  Employed_2010                              3272 non-null   object
 49  Unemployed_2010                            3272 non-null   object
 50  Unemployment_rate_2010                     3272 non-null   float64
 51  Civilian_labor_force_2011                  3272 non-null   object
 52  Employed_2011                              3272 non-null   object
 53  Unemployed_2011                            3272 non-null   object
 54  Unemployment_rate_2011                     3272 non-null   float64
 55  Civilian_labor_force_2012                  3272 non-null   object
 56  Employed_2012                              3272 non-null   object
 57  Unemployed_2012                            3272 non-null   object
 58  Unemployment_rate_2012                     3272 non-null   float64
 59  Civilian_labor_force_2013                  3272 non-null   object
 60  Employed_2013                              3272 non-null   object
 61  Unemployed_2013                            3272 non-null   object
 62  Unemployment_rate_2013                     3272 non-null   float64
 63  Civilian_labor_force_2014                  3272 non-null   object
 64  Employed_2014                              3272 non-null   object
 65  Unemployed_2014                            3272 non-null   object
 66  Unemployment_rate_2014                     3272 non-null   float64
 67  Civilian_labor_force_2015                  3272 non-null   object
 68  Employed_2015                              3272 non-null   object
 69  Unemployed_2015                            3272 non-null   object
 70  Unemployment_rate_2015                     3272 non-null   float64
 71  Civilian_labor_force_2016                  3272 non-null   object
 72  Employed_2016                              3272 non-null   object
 73  Unemployed_2016                            3272 non-null   object
 74  Unemployment_rate_2016                     3272 non-null   float64
 75  Civilian_labor_force_2017                  3272 non-null   object
 76  Employed_2017                              3272 non-null   object
 77  Unemployed_2017                            3272 non-null   object
 78  Unemployment_rate_2017                     3272 non-null   float64
 79  Civilian_labor_force_2018                  3272 non-null   object
 80  Employed_2018                              3272 non-null   object
 81  Unemployed_2018                            3272 non-null   object
 82  Unemployment_rate_2018                     3272 non-null   float64
 83  Civilian_labor_force_2019                  3272 non-null   object
 84  Employed_2019                              3272 non-null   object
 85  Unemployed_2019                            3272 non-null   object
 86  Unemployment_rate_2019                     3272 non-null   float64
 87  Civilian_labor_force_2020                  3193 non-null   object
 88  Employed_2020                              3193 non-null   object
 89  Unemployed_2020                            3193 non-null   object
 90  Unemployment_rate_2020                     3193 non-null   float64
 91  Median_Household_Income_2019               3193 non-null   object
 92  Med_HH_Income_Percent_of_State_Total_2019  3192 non-null   float64
dtypes: float64(25), int64(1), object(67)
memory usage: 2.3+ MB

Este arquivo nos traz informações sobre o desemprego nos municípios. Os diferentemente do dataset anterior, aqui os dados aqui são anuais e mostram: 

1) A quantidade de pessoas aptas à trabalhar (Civilian_labor_force); 

2) A quantidade de pessoas empregadas (Employed);

3) A quantidade de pessoas desempregadas (Unemployment);

4) A porcentagem de pessoas desempregadas, ou seja, a taxa de desemprego (Unemployment_rate).

Agora vamos partir para a próxima seção: Pré-processamento

## Pré-processamento
Existem algumas colunas em ambos os datasets que não irão nos fornecer informações relevantes, como "Median_Household_income", pois este dado só existe para o ano de 2020, no dataset de desemprego, assim como as colunas "Urban_continum_code" em ambos os datasets. Dessa forma, iremos remover estas colunas.

In [35]:
educacao = educacao.drop(["2003 Rural-urban Continuum Code",
                         "2003 Urban Influence Code",
                         "2013 Rural-urban Continuum Code",
                         "2013 Urban Influence Code"],
                        axis=1)

In [36]:
educacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3283 entries, 0 to 3282
Data columns (total 44 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   FIPS Code                                                                 3283 non-null   int64
 1   State                                                                     3283 non-null   object
 2   Area name                                                                 3283 non-null   object
 3   City/Suburb/Town/Rural 2013                                               3221 non-null   object
 4   Less than a high school diploma, 1970                                     3186 non-null   object
 5   High school diploma only, 1970                                            3186 non-null   object
 6   Some college (1-3 years), 1970                                            3186 non-null   object
 7   Four years of college or higher, 1970                                     3186 non-null   object
 8   Percent of adults with less than a high school diploma, 1970              3186 non-null   float64
 9   Percent of adults with a high school diploma only, 1970                   3186 non-null   float64
 10  Percent of adults completing some college (1-3 years), 1970               3186 non-null   float64
 11  Percent of adults completing four years of college or higher, 1970        3186 non-null   float64
 12  Less than a high school diploma, 1980                                     3267 non-null   object
 13  High school diploma only, 1980                                            3267 non-null   object
 14  Some college (1-3 years), 1980                                            3267 non-null   object
 15  Four years of college or higher, 1980                                     3267 non-null   object
 16  Percent of adults with less than a high school diploma, 1980              3267 non-null   float64
 17  Percent of adults with a high school diploma only, 1980                   3267 non-null   float64
 18  Percent of adults completing some college (1-3 years), 1980               3267 non-null   float64
 19  Percent of adults completing four years of college or higher, 1980        3267 non-null   float64
 20  Less than a high school diploma, 1990                                     3271 non-null   object
 21  High school diploma only, 1990                                            3271 non-null   object
 22  Some college or associate's degree, 1990                                  3271 non-null   object
 23  Bachelor's degree or higher, 1990                                         3271 non-null   object
 24  Percent of adults with less than a high school diploma, 1990              3271 non-null   float64
 25  Percent of adults with a high school diploma only, 1990                   3271 non-null   float64
 26  Percent of adults completing some college or associate's degree, 1990     3270 non-null   float64
 27  Percent of adults with a bachelor's degree or higher, 1990                3271 non-null   float64
 28  Less than a high school diploma, 2000                                     3272 non-null   object
 29  High school diploma only, 2000                                            3272 non-null   object
 30  Some college or associate's degree, 2000                                  3272 non-null   object
 31  Bachelor's degree or higher, 2000                                         3272 non-null   object
 32  Percent of adults with less than a high school diploma, 2000              3272 non-null   float64
 33  Percent of adults with a high school diploma only, 2000                   3272 non-null   float64
 34  Percent of adults completing some college or associate's degree, 2000     3272 non-null   float64
 35  Percent of adults with a bachelor's degree or higher, 2000                3272 non-null   float64
 36  Less than a high school diploma, 2015-19                                  3273 non-null   object
 37  High school diploma only, 2015-19                                         3273 non-null   object
 38  Some college or associate's degree, 2015-19                               3273 non-null   object
 39  Bachelor's degree or higher, 2015-19                                      3273 non-null   object
 40  Percent of adults with less than a high school diploma, 2015-19           3273 non-null   float64
 41  Percent of adults with a high school diploma only, 2015-19                3273 non-null   float64
 42  Percent of adults completing some college or associate's degree, 2015-19  3273 non-null   float64
 43  Percent of adults with a bachelor's degree or higher, 2015-19             3273 non-null   float64
dtypes: float64(20), int64(1), object(23)
memory usage: 1.1+ MB

In [44]:
desemprego = desemprego.drop(["Rural_urban_continuum_code_2013",
                             "Urban_influence_code_2013",
                             "Metro_2013",
                             "Median_Household_Income_2019",
                             "Med_HH_Income_Percent_of_State_Total_2019"],
                            axis=1)

In [52]:
desemprego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 88 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   FIPS_Code                  3275 non-null   int64
 1   State                      3275 non-null   object
 2   Area_name                  3275 non-null   object
 3   City/Suburb/Town/Rural     3219 non-null   object
 4   Civilian_labor_force_2000  3270 non-null   object
 5   Employed_2000              3270 non-null   object
 6   Unemployed_2000            3270 non-null   object
 7   Unemployment_rate_2000     3270 non-null   float64
 8   Civilian_labor_force_2001  3270 non-null   object
 9   Employed_2001              3270 non-null   object
 10  Unemployed_2001            3270 non-null   object
 11  Unemployment_rate_2001     3270 non-null   float64
 12  Civilian_labor_force_2002  3270 non-null   object
 13  Employed_2002              3270 non-null   object
 14  Unemployed_2002            3270 non-null   object
 15  Unemployment_rate_2002     3270 non-null   float64
 16  Civilian_labor_force_2003  3270 non-null   object
 17  Employed_2003              3270 non-null   object
 18  Unemployed_2003            3270 non-null   object
 19  Unemployment_rate_2003     3270 non-null   float64
 20  Civilian_labor_force_2004  3270 non-null   object
 21  Employed_2004              3270 non-null   object
 22  Unemployed_2004            3270 non-null   object
 23  Unemployment_rate_2004     3270 non-null   float64
 24  Civilian_labor_force_2005  3263 non-null   object
 25  Employed_2005              3263 non-null   object
 26  Unemployed_2005            3263 non-null   object
 27  Unemployment_rate_2005     3263 non-null   float64
 28  Civilian_labor_force_2006  3263 non-null   object
 29  Employed_2006              3263 non-null   object
 30  Unemployed_2006            3263 non-null   object
 31  Unemployment_rate_2006     3263 non-null   float64
 32  Civilian_labor_force_2007  3270 non-null   object
 33  Employed_2007              3270 non-null   object
 34  Unemployed_2007            3270 non-null   object
 35  Unemployment_rate_2007     3270 non-null   float64
 36  Civilian_labor_force_2008  3270 non-null   object
 37  Employed_2008              3270 non-null   object
 38  Unemployed_2008            3270 non-null   object
 39  Unemployment_rate_2008     3270 non-null   float64
 40  Civilian_labor_force_2009  3270 non-null   object
 41  Employed_2009              3270 non-null   object
 42  Unemployed_2009            3270 non-null   object
 43  Unemployment_rate_2009     3270 non-null   float64
 44  Civilian_labor_force_2010  3272 non-null   object
 45  Employed_2010              3272 non-null   object
 46  Unemployed_2010            3272 non-null   object
 47  Unemployment_rate_2010     3272 non-null   float64
 48  Civilian_labor_force_2011  3272 non-null   object
 49  Employed_2011              3272 non-null   object
 50  Unemployed_2011            3272 non-null   object
 51  Unemployment_rate_2011     3272 non-null   float64
 52  Civilian_labor_force_2012  3272 non-null   object
 53  Employed_2012              3272 non-null   object
 54  Unemployed_2012            3272 non-null   object
 55  Unemployment_rate_2012     3272 non-null   float64
 56  Civilian_labor_force_2013  3272 non-null   object
 57  Employed_2013              3272 non-null   object
 58  Unemployed_2013            3272 non-null   object
 59  Unemployment_rate_2013     3272 non-null   float64
 60  Civilian_labor_force_2014  3272 non-null   object
 61  Employed_2014              3272 non-null   object
 62  Unemployed_2014            3272 non-null   object
 63  Unemployment_rate_2014     3272 non-null   float64
 64  Civilian_labor_force_2015  3272 non-null   object
 65  Employed_2015              3272 non-null   object
 66  Unemployed_2015            3272 non-null   object
 67  Unemployment_rate_2015     3272 non-null   float64
 68  Civilian_labor_force_2016  3272 non-null   object
 69  Employed_2016              3272 non-null   object
 70  Unemployed_2016            3272 non-null   object
 71  Unemployment_rate_2016     3272 non-null   float64
 72  Civilian_labor_force_2017  3272 non-null   object
 73  Employed_2017              3272 non-null   object
 74  Unemployed_2017            3272 non-null   object
 75  Unemployment_rate_2017     3272 non-null   float64
 76  Civilian_labor_force_2018  3272 non-null   object
 77  Employed_2018              3272 non-null   object
 78  Unemployed_2018            3272 non-null   object
 79  Unemployment_rate_2018     3272 non-null   float64
 80  Civilian_labor_force_2019  3272 non-null   object
 81  Employed_2019              3272 non-null   object
 82  Unemployed_2019            3272 non-null   object
 83  Unemployment_rate_2019     3272 non-null   float64
 84  Civilian_labor_force_2020  3193 non-null   object
 85  Employed_2020              3193 non-null   object
 86  Unemployed_2020            3193 non-null   object
 87  Unemployment_rate_2020     3193 non-null   float64
dtypes: float64(21), int64(1), object(66)
memory usage: 2.2+ MB

A primeira coisa de podemos fazer para melhorar a estrutura deste DataFrame é transformá-lo do formado largo para longo. Assim, ficará muito mais intuitivo e simples de manipular e fazer gráficos.

In [82]:
desemprego_new = pd.wide_to_long(desemprego, ["Employed_", "Unemployed_", "Unemployment_rate_", "Civilian_labor_force_"],
               i="FIPS_Code",
               j="Year").head(50)
desemprego_new.columns = ['Area_name', 'City/Suburb/Town/Rural', 'State', 'Empregado',
       'Desempregado', 'Taxa_desemprego', 'Forca_laboral']

# Tirando as vírgulas dos valores inteiros que estão escritos como string
desemprego_new.loc[:, "Empregado"] = desemprego_new["Empregado"].apply(lambda x: int(x.replace(",", "")))
desemprego_new.loc[:, "Desempregado"] = desemprego_new["Desempregado"].apply(lambda x: int(x.replace(",", "")))
desemprego_new.loc[:, "Forca_laboral"] = desemprego_new["Forca_laboral"].apply(lambda x: int(x.replace(",", "")))
desemprego_new = desemprego_new.reset_index()

Agora temos um dataset no formato longo!

In [97]:
s=pd.melt(desemprego, id_vars=["FIPS_Code", "Area_name", "State"])

In [85]:
desemprego_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FIPS_Code               50 non-null     int64
 1   Year                    50 non-null     int64
 2   Area_name               50 non-null     object
 3   City/Suburb/Town/Rural  50 non-null     object
 4   State                   50 non-null     object
 5   Empregado               50 non-null     int64
 6   Desempregado            50 non-null     int64
 7   Taxa_desemprego         50 non-null     float64
 8   Forca_laboral           50 non-null     int64
dtypes: float64(1), int64(5), object(3)
memory usage: 3.6+ KB

In [92]:
desemprego_new.Year.unique()

array([2000], dtype=int64)